<form class="max-w-[60vw] mx-auto" >
  <label
    for="default-search"
    class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
    >Search</label
  >
  <div class="relative">
    <h1
    class="mb-8 text-3xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-5xl"
  >
    Search city for 
    <span
      class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400 capitalize">
      Weather forecast </span
    >
  </h1>
    <input
      type="search"
      id="default-search"
      class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Enter city name here..."
      required
      ng-model="city"
      />
      <a>
        <button
        type="submit"
        ng-click="search()"
        class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Search 
      </button>
    </a>
  </div>
</form>
